  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #48ffc2;
    background-image: url('public/assets/memoryGame/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;


  }
  
  .mesa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 50rem;
    margin: auto;
    gap: 35px;
  }
  
  .card {
    width: 6rem;
    height: 7.4rem;
    margin: 0.5rem;
    border-radius: 0.3em;
    background-image: var(--gradient);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .card__contenido {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding-top: 0.4rem;

     
  }

  .card__contenido img{
    max-width: 100%;
    // width: 100px;
    margin: 10px;
    border: 3px solid #48ffc2;
    border-radius: 10px;
    background-color: aquamarine;
  }
  .card__contenido p{
    font-size: 1rem;
  }
  .card__contenido::selection {
    background: transparent;
  }
  
  .card.descubierta {
    transform: rotateY(-180deg);
  }